<div class=" content">
    <div *ngIf="product.plantInfo != undefined" class=" col-md-12">
        <div class=" card card-user">
            <div class=" card-body">
                <p class=" card-text"></p>
                <div class=" author">
                    <div class=" block block-one"></div>
                    <div class=" block block-two"></div>
                    <div class=" block block-three"></div>
                    <div class=" block block-four"></div>
                    <a href="javascript:void(0)">
                        <img *ngFor="let image of product.images" alt="..." class=" avatar" [src]="image" />
                        <h5 class=" title">{{product.plantInfo.name}}</h5>
                        <a target="_blank" [href]="'https://www.google.com/maps/search/' + product.location.display_name">{{product.location.display_name}}</a>
                    </a>
                    <br> <br> <br> <br>
                    <p>Planting:
                        <span style="color:yellowgreen" *ngFor="let month of product.plantingCalendar">{{month}},</span>
                    </p>
                    <p>Harvesting:
                        <span style="color:yellowgreen" *ngFor="let month of product.growingCalendar">{{month}},</span>
                    </p>
                    <br> <br>
                    <div class=" block block-one"></div>
                    <div class=" block block-two"></div>
                    <div class=" block block-three"></div>
                    <div class=" block block-four"></div>
                    <p class=" description">{{product.plantInfo.description}}</p>
                    <br>
                    <button (click)=" showGuide =true;showVariety =false;ShowLayoutIdea =false" class="btn btn-primary">Guide</button>
                    <button (click)=" showVariety =true;showGuide =false;ShowLayoutIdea =false" class="btn btn-dark">Companions</button>
                    <button (click)=" ShowLayoutIdea =true;showGuide =false;showVariety =false" class="btn btn-dark">Layout Ideas</button>
                    <div class="row">
                        <div *ngIf="showGuide" class="col-md-12 d-flex" style="align-items: center;justify-content: center;flex-direction: column;">
                            <br><br>
                            <h3>Guide</h3>
                            <h5 style="text-decoration: underline;">Lan Preparation</h5>
                            <p>{{product.guide.land_preparation}}</p>
                            <h5 style="text-decoration: underline;">Planting</h5>
                            <p>{{product.guide.planting}}</p>

                            <h5 style="text-decoration: underline;">Caring</h5>
                            <p>{{product.guide.caring}}</p>
                            <br>
                            <h5 style="text-decoration: underline;">Harvesting</h5>
                            <p>{{product.guide.harvesting}}</p>
                            <h5 style="text-decoration: underline;">Storing</h5>
                            <p>{{product.guide.storing}}</p>
                        </div>
                        <div *ngIf="showVariety" class="col-md-12 d-flex" style="align-items: center;justify-content: center;flex-direction: column;">
                            <br><br>
                            <h3>Varieties</h3>
                            <div *ngFor="let variety of product.varieties">
                                <img alt="" class="avatar" [src]="variety.uri" />
                                <h5 style="text-align: center;" class=" title">{{variety.name}}</h5>
                            </div>
                        </div>
                        <div *ngIf="ShowLayoutIdea" class="col-md-12 d-flex" style="align-items: center;justify-content: center;flex-direction: column;">
                            <br><br>
                            <h3>Layout Ideas</h3>
                            <img *ngFor="let variety of product.layoutIdeas" alt="" class="avatar" [src]="variety" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class=" col-md-12">
        <div class=" card">
            <div class=" card-header" style="display: flex;">
                <h4 class=" card-title">
                    <i class="icon-cart"></i> Normal Products
                </h4>
            </div>
            <div class=" card-body">
                <div class=" table-responsive">
                    <table class=" table tablesorter" id="">
                        <thead class=" text-primary">
                            <tr>
                                <th class="text-center">Image</th>
                                <th class="text-center">Product Name</th>
                                <th class="text-center">Category</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Qtty</th>
                                <th class="text-center">Sun</th>
                                <th class="text-center">Water</th>
                                <th class="text-center">Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of products">
                                <td class="text-center">
                                    <img class="rounded-img" [src]="data.images[0]">
                                </td>
                                <td class="text-center">{{data.plantInfo.name}}</td>
                                <td class="text-center">{{data.plantInfo.categroy}}</td>
                                <td class="text-center">Plants</td>
                                <td class="text-center text-success">{{data.plantInfo.price | currency: ' ₱'}} </td>
                                <td class="text-center">{{data.plantInfo.quantities}}</td>
                                <td class="text-center">{{data.sunAndWater.sun}}</td>
                                <td class="text-center">{{data.sunAndWater.water}}</td>

                                <td class="text-center">
                                    <button (click)="view(data) " class="btn btn-info btn-sm mr-2 ">
                                            <i class="far fa-eye "></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <nav aria-label="Page navigation example ">
                        <ul class="pagination ">
                            <li class="page-item "><a class="page-link ">Previous</a></li>
                            <li class="page-item "><a class="page-link ">1</a></li>
                            <li class="page-item "><a class="page-link ">2</a></li>
                            <li class="page-item "><a class="page-link ">3</a></li>
                            <li class="page-item "><a class="page-link ">Next</a></li>
                        </ul>
                    </nav> -->
                </div>
            </div>
        </div>
    </div>
</div>