<div class=" content">
    <div *ngIf="userInfo.fullanme != undefined" class=" col-md-12">
        <div class=" card card-user">
            <div class=" card-body">
                <p class=" card-text"></p>
                <div class=" author">
                    <div class=" block block-one"></div>
                    <div class=" block block-two"></div>
                    <div class=" block block-three"></div>
                    <div class=" block block-four"></div>
                    <a href="javascript:void(0)">
                        <img alt="..." class=" avatar" src="assets/img/emilyz.jpg" />

                        <h5 class=" title">{{userInfo.fullanme}}</h5>
                    </a>
                    <p class=" description">{{user.role || 'Not set'}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-md-12">
        <div class=" card">
            <div class=" card-header" style="display: flex;">
                <h4 class=" card-title">
                    <i class="far fa-user"></i> Users
                </h4>
            </div>
            <div class=" card-body">
                <div class=" table-responsive">
                    <table class=" table tablesorter" id="">
                        <thead class=" text-primary">
                            <tr>
                                <th class="text-center"><i class="far fa-user"></i></th>
                                <th class="text-center">Fullname</th>
                                <th class="text-center">Role</th>
                                <th class="text-center">Products</th>
                                <th class="text-center">Plants</th>
                                <th class="text-center">Date Registered</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                                <td class="text-center">
                                    <img class="rounded-img" src="assets/img/emilyz.jpg ">
                                </td>
                                <td class="text-center">{{user.fullanme}}</td>
                                <td class="text-center">{{user.role || 'Not set'}}</td>

                                <td class="text-center">0</td>
                                <td class="text-center">0</td>
                                <td class="text-center"><span class="badge badge-info ">January 15, 2021 - 5:00 AM</span></td>
                                <td *ngIf="!user.blocked" class="text-center"><span class="badge badge-success ">{{user.blocked == true ? 'Blocked' : 'Active'}}</span></td>
                                <td *ngIf="user.blocked" class="text-center"><span class="badge badge-danger ">{{user.blocked == true ? 'Blocked' : 'Active'}}</span></td>
                                <td class="text-center">
                                    <button (click)="view(user) " class="btn btn-info btn-sm mr-2 ">
                                        <i class="far fa-eye "></i>
                                    </button>
                                    <button (click)="setStatus(user) " class="btn btn-gray btn-sm mr-2 ">
                                        <i class="fas fa-ban "></i>
                                    </button>
                                    <button (click)="deleteData() " class="btn btn-danger btn-sm mr-2 ">
                                        <i class="far fa-trash-alt "></i>
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example ">
                        <ul class="pagination ">
                            <li class="page-item "><a class="page-link ">Previous</a></li>
                            <li class="page-item "><a class="page-link ">1</a></li>
                            <li class="page-item "><a class="page-link ">2</a></li>
                            <li class="page-item "><a class="page-link ">3</a></li>
                            <li class="page-item "><a class="page-link ">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>