.col-md-12 {
    display: flex;
    padding-right: 30px;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-content: center;
    * {
        text-align: center;
        color: gray;
        margin: 10px;
    }
    .btn {
        color: white;
    }
    input,
    label {
        text-align: left;
    }
    label {
        transform: translateY(10px);
    }
}