<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
            <br>
            <br>
            <p style="color:white">Welcome to </p>
            <br>
            <h1 style="font-weight: 500;color:#02AF50;font-weight: 200;margin-bottom: 5px;">GARDENSCAPES.</h1>
            <h1 style="font-weight: 500;color:gray;font-weight: 200;margin-bottom: 5px;">ASSISTANCE.</h1>
            <br>


            <label for="Email">Email</label>
            <input (keyup.enter)="login()" [(ngModel)]="email" type="text" class="form-control" id="Email" required>
            <label for="Password">Password</label>
            <input (keyup.enter)="login()" [(ngModel)]="password" type="password" class="form-control" id="Password" required>
            <br>
            <button (click)="login()" class="btn btn-success">Log In</button>
        </div>
    </div>
</div>