<div class=" content">
    <div class=" row">
        <div *ngIf="pestInformation.title != undefined" class=" col-md-12">
            <div class=" card card-user">
                <div class=" card-body">
                    <p class=" card-text"></p>
                    <div class=" author">
                        <div class=" block block-one"></div>
                        <div class=" block block-two"></div>
                        <div class=" block block-three"></div>
                        <div class=" block block-four"></div>
                        <a href="javascript:void(0)">
                            <img class=" avatar" [src]="pestInformation.images[0]" alt="" />

                            <h5 class=" title">{{pestInformation.title}}</h5>
                        </a>
                        <div class=" block block-one"></div>
                        <div class=" block block-two"></div>
                        <div class=" block block-three"></div>
                        <div class=" block block-four"></div>
                        <p class=" description">{{pestInformation.description}}</p>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-bug"></i> Add Common Plant Pests
                </div>
                <div class="card-body">
                    <button (click)="trigger()" class="btn btn-success">Add Image</button>
                    <br>
                    <img *ngIf="pest.images.length != 0" class="big-image" [src]="src">
                    <br> <br>
                    <br>
                    <div class=" form-group">
                        <label> Pest Name </label>
                        <input [(ngModel)]="pest.title" class=" form-control" placeholder="Pest Name" type="text" />
                    </div>
                    <br>

                    <div class=" form-group">
                        <label> Description </label>
                        <textarea [(ngModel)]="pest.description" autosize class=" form-control" placeholder="Description" type="text"></textarea>
                    </div>
                    <br>
                    <input type="file" (change)="readURL( $event)" accept="image/*" id="file-input" style="display: none;">
                    <button (click)="clear()" class="btn btn-secondary">Clear</button>
                    <button (click)="save()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
        <div class=" col-md-8">
            <div class=" card">
                <div class=" card-header" style="display: flex;">
                    <h4 class=" card-title"><i class="fas fa-bug"></i> Common Plant Pests</h4>

                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>#</th>
                                    <th>Image</th>
                                    <th>Pest Name</th>
                                    <th>Description</th>
                                    <th>Date Created</th>
                                    <th>Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pest of pests;let i = index">
                                    <td>1</td>
                                    <td>
                                        <img class="rounded-img" [src]="pest.images[0]" alt="">
                                    </td>
                                    <td><textarea [(ngModel)]="pest.title" type="text" class="form-control"></textarea></td>
                                    <td><textarea [(ngModel)]="pest.description" type="text" class="form-control"></textarea></td>
                                    <td><span class="badge badge-info">January 15, 2021 - 5:00 AM</span></td>
                                    <td>
                                        <button (click)="view(pest)" class="btn btn-info btn-sm mr-2">
                                            <i class="far fa-eye"></i>
                                        </button>
                                        <button (click)="update(pest,petsId[i])" class="btn btn-primary btn-sm mr-2">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button (click)="deleteData(petsId[i])" class="btn btn-danger btn-sm mr-2">
                                            <i class="far fa-trash-alt"></i>
                                        </button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link">Previous</a></li>
                                <li class="page-item"><a class="page-link">1</a></li>
                                <li class="page-item"><a class="page-link">2</a></li>
                                <li class="page-item"><a class="page-link">3</a></li>
                                <li class="page-item"><a class="page-link">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>