<div class=" content">
    <div class=" row">
        <div *ngIf="diseaseInformation.title != undefined" class=" col-md-12">
            <div class=" card card-user">
                <div class=" card-body">
                    <p class=" card-text"></p>
                    <div class=" author">
                        <div class=" block block-one"></div>
                        <div class=" block block-two"></div>
                        <div class=" block block-three"></div>
                        <div class=" block block-four"></div>
                        <a href="javascript:void(0)">
                            <img *ngFor="let img of diseaseInformation.images" class=" avatar" [src]="img" alt="" />
                            <h5 class=" title">{{diseaseInformation.title}}</h5>
                        </a>
                        <div class=" block block-one"></div>
                        <div class=" block block-two"></div>
                        <div class=" block block-three"></div>
                        <div class=" block block-four"></div>
                        <p class=" description">{{diseaseInformation.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-exclamation-circle"></i> Add Disease and Disorders
                </div>
                <div class="card-body">
                    <button (click)="trigger()" class="btn btn-success">Add Image</button>
                    <br>
                    <img *ngFor="let src of srcs" class="block-images m-2" [src]="src">
                    <br>
                    <br> <br>
                    <br>
                    <div class=" form-group">
                        <label> Disease or Disorder Name </label>
                        <input [(ngModel)]="disease.title" class=" form-control" placeholder="Disease or Disorder Name" type="text" />
                    </div>
                    <br>

                    <div class=" form-group">
                        <label> Description </label>
                        <textarea [(ngModel)]="disease.description" autosize class=" form-control" placeholder="Description" type="text"></textarea>
                    </div>
                    <br>
                    <input multiple type="file" (change)="readURL( $event.target.files, $event )" accept="image/*" id="file-input" style="display: none;">
                    <button (click)="clear()" class="btn btn-secondary">Clear</button>
                    <button (click)="save()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
        <div class=" col-md-8">
            <div class=" card">
                <div class=" card-header" style="display: flex;">
                    <h4 class=" card-title">
                        <i class="fas fa-exclamation-circle"></i> Add Disease and Disorders
                    </h4>

                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Images</th>
                                    <th>Disease/Disorder</th>
                                    <th>Description</th>
                                    <th>Date Created</th>
                                    <th>Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let disease of diseases;let i = index">
                                    <td>
                                        <div style="margin-left: 20px;">
                                            <img style="margin-left: -20px;border: 1px solid white !important;" *ngFor="let image of disease.images" class="rounded-img" [src]="image">
                                        </div>

                                    </td>
                                    <td><textarea [(ngModel)]="disease.title" type="text" class="form-control"></textarea></td>
                                    <td><textarea [(ngModel)]="disease.description" type="text" class="form-control"></textarea></td>
                                    <td><span class="badge badge-info">{{disease.created_at | date: 'MMMM dd, yyyy - hh:mm a'}}</span></td>
                                    <td>
                                        <button (click)="view(disease)" class="btn btn-info btn-sm mr-2">
                                            <i class="far fa-eye"></i>
                                        </button>
                                        <button (click)="update(disease,diseasseId[i])" class="btn btn-primary btn-sm mr-2">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button (click)="deleteData(diseasseId[i])" class="btn btn-danger btn-sm mr-2">
                                            <i class="far fa-trash-alt"></i>
                                        </button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link">Previous</a></li>
                                <li class="page-item"><a class="page-link">1</a></li>
                                <li class="page-item"><a class="page-link">2</a></li>
                                <li class="page-item"><a class="page-link">3</a></li>
                                <li class="page-item"><a class="page-link">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>